@charset "UTF-8";
/* CSS Document */

body {
	background-color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	color: #000099;
}

nav a {
	background-color:#CCCCCC;
}

h1 {
	font-family: Cambria, 'Hoefler Text', 'Liberation Serif', Times, 'Times New Roman', 'serif';
	color:black;
}

.favorite {
	color: red;
	font-style: italic;
}