@charset "utf-8";
/* CSS Document */
html, body {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
}
article,aside,nav,footer,header,section,menu,hgroup,figcaption,figure,details {
	display:block;
}

body {
	line-height:1;
	font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

h1 {
	font-size:25px;
}
h2 {
	font-size:21px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}

nav ul {
	list-style: none;
}

blockquote, q {
	quotes:none;
}

blockquote:before, blockquote:after,q:before,q:after {
	content:none;
}

a {
	margin:0;
	padding:0;
	background:transparent;
	font-size:100%;
	vertical-align:baseline;
}

ins {
	background-color:#ff9;
	color:#000000;
	text-decoration: none;
}

mark {
	background-color:#f99;
	color:#000000;
	font-style:italic;
	font-weight:bold;
	
}

del {
	text-decoration: line-through;
}

abbr[title], dfn[title] {
	border-bottom:1px dotted;
	cursor: help;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

hr {
	display:block;
	height:1px;
	border:0;
	border-top:1px solid #CCCCCC;
	margin:1em 0;
	padding:0;
}

input, select {
	vertical-align:middle;
}

header {
	max-width:1000px;
	margin:auto;
	background:#79B4F6;
	padding:20px 30px;
}

nav {
	display:inline-block;
}

nav ul li a {
	background:#EEEEEE;
	padding:2px 10px;
	font-size:20px;
	text-decoration:none;
	font-weight:bold;
	color:#444444;
	border-radius:10px;
}

nav ul li a:hover {
	background:#FFFFFF;
}

nav ul li {
	display:inline-block;
	margin:10px;
}

nav ul {list-style:none;}

#pageContent {
	max-width:1000px;
	margin:auto;
	border:none;
}


main {
	float:left;
	width:60%;
}

aside {
	float:right;
	width:30%;
}

article {
	border-bottom:2px dotted #999999;
	padding-bottom:20px;
	margin-bottom:20px;
}

article h2 {
	font-weight:normal;
	margin-bottom:12px;
	
}

footer {
	background:#79B4F6;
	max-width:1000px;
	margin:auto;
	clear:both;
	text-align:right;
}

footer p {
	padding:20px;
}

address {
	padding:10px 20px 30px 10px;
}

aside > div {
	margin:10px auto;
	padding:3px 5px;
	background:#79B4F6;
	min-height:100px;
}

#logo {
	display:inline-block;
	vertical-align:middle;
	font-size:30px;
	margin-right:75px;
	color:#FFFFFF;
}

#logo img {
	width:50px;
	vertical-align:middle;
	margin-right:10px;
}

body > section {
	max-width:1000px;
	margin:auto;
	padding:30px 0px;
	border-bottom:1px solid #999999;
	color:#333333;
	
}

@media screen and (max-width:1000px) {
	body > section {
		padding:30px 20px;
	}
}

@media screen and (max-width:600px) {
	main {
		float:none;
		width:100%;
	}
	aside {
		float:none;
		width:100%;
	}
}





