@charset "utf-8";
/* CSS Document */
html{
	background-image: linear-gradient(to bottom, lightgreen, lightgray);
	background-repeat:no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#container {
	min-width:700px;
	background-color:#D9D9D2;
	color:#000000;
	margin:0 auto;
	width:80%px;
}
header, nav, main, footer, aside {
	display:block;
	
}
body {
	background-color:#B2C98E;
	font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
header {
		color:#CC66CC;
		background-color:#EEEEEE;
		border-bottom:2px solid #000000;
		padding-left:0 20px;
		text-align:right;
		background-position:bottom;
		height:150px;
		
}
header a {
	font-size:.80em;
	}
header a:link, header a:visited {
	color:#000000;
	
}
header a:focus, header a:hover {
	color:#EEEEEE;
}
nav {
	float:left;
	width:150px;
	text-align: left;	
}

aside {
		float:right;
		width:200px;
		padding:5px;
}
aside img {
	margin: 0 auto;
	display:block;
}
main {
	margin: 0 210px 0 160px;
	padding: 1px 10px 20px 10px;
	background-color:#FFFFFF;
	color:#006600;
}
main p {
	margin:20px;
}
footer {
	text-align:center;
	text-size:.75em;
	font-style:italic;
	clear:both;
}
.myimage {
		padding:0 5px  5px 0;
}